@import "../styles/variables";

.nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;

    &:nth-child(n+2) {
      margin-left: 24px;
    }
  }

  a {
    font-size: 1.3rem;

    @media only screen and (min-width: 600px) {
      font-size: 1.7rem;
    }
  }
}