@import "../styles/variables";

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 24px;
}

.title {
  font-size: 3rem;

  @media only screen and (min-width: 600px) {
    font-size: 5rem;
  }
}

.description {
  font-size: 1.5rem;
  line-height: 1.1;
  margin-bottom: 36px;

  @media only screen and (min-width: 600px) {
    font-size: 3rem;
  }
}

.fancy {
  color: map-get($palette, accent);
}

.nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;

    &:nth-child(n+2) {
      margin-left: 24px;
    }
  }

  a {
    font-size: 1.3rem;

    @media only screen and (min-width: 600px) {
      font-size: 1.7rem;
    }
  }
}