@import "variables";

.post {
  position: relative;
  border-radius: 5px;
  box-shadow: 5px 7px 23px -1px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.postContent {
  padding: 24px 24px 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.link {
  position: relative;
  display: block;
  transition: color 250ms ease-in-out;
  border-bottom: 1px solid map-get($palette, border);
  margin-bottom: 16px;

  &:hover {
    color: map-get($palette, accent);
    border-bottom-color: map-get($palette, border);
  }
}

.thumbnailContainer {
  max-height: 200px;
  overflow: hidden;
}

.thumbnail {
  border-radius: 5px 5px 0 0;
}

.header {
  padding: 1.333rem 1.333rem 0;
  margin-bottom: 0.833rem;
}

.title {
  font-size: 1.333rem;
  margin: 0 0 16px;
  color: inherit;
  line-height: 1.1;

  [href^=http] & {
    margin-left: 28px;
  }
}

.excerpt {
  margin: 0 0 36px;
  line-height: 1.5;
}

.footer {
  margin-top: auto;
}

.publishDate {
  text-transform: uppercase;
  font-size: 14px;
  color: map-get($palette, meta);
}